* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
}


h1{
  margin-bottom: 10px;
}

.app-warm {
  background: linear-gradient(to bottom, #5a74f8, #4c1bef, #4c40ea);
  color: #fff;
}

.Body {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

nav {
  margin-bottom: 20px;
}

nav input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #5abbf8;
  font-size: 1.2rem;
  text-align: center;
}

.general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
}

.sunrise,
.sunset {
  margin-top: 5px;
}

.gen-Data {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  color: black;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  /* position: relative; */
  height: 100%;
  align-items: center;
}

.data{
  margin-top: 5px;
  color: #5c5c5e;
  font-weight: 600;
}

.sunData{
  width: 40%;
  background-color: #f5f5f5;
  color: #5e5e5e;
  font-weight: 600;
  padding: 15px;
  border: none;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc,
.pre,
.hum,
.windSpeed {
  font-size: 1rem;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #5c5c5e;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  row-gap: 30px;
}

.city-info,
.Temp {
  font-size: 1.5rem;
  font-weight: 700;
}

.place{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
}

.temp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
}

.footer {
  /* position: absolute;
  bottom: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.8rem;
  color: #fff;
}

@media (max-width: 768px) {
  nav input {
    font-size: 14px;
  }

  .general{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .gen-Data {
    width: 100%;
    margin-top: 20px;
  }

  .sunData{
    width: 100%;
  }

  .data {
    display: block;
  }

  .footer {
    font-size: 0.7rem;
  }
}

