* {
  padding: 0;
  margin: 0;
  color: #fff;
}

.app-warm, .app-cold {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 10vw;
}

.app-warm {
  background: linear-gradient(to bottom, #a95af8, #a020ab,#0994ea);
}


.app-cold {
  background: linear-gradient(to bottom,#2491ea,#0fe066,#10eff7);
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

nav input {
  background-color: inherit;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #5abbf8;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 25%;
  min-width: 50%;
}

.info-container {
  font-size: 2rem;
  font-weight: 700;
}

.Desc {
  position: relative;
  top: 20px;
}

.footer {
  position: absolute;
  bottom: 10px;
}

@media (max-width: 768px) {
  .app-warm, .app-cold {
    min-width: auto;
  }

  nav input {
    font-size: 16px;
    top: 5px;
    left: 10%;
    min-width: 80%;
  }

  .info-container {
    font-size: 1.5rem;
  }

  .Desc {
    top: 10px;
  }

  .footer {
    bottom: 5px;
  }
}

@media (max-width: 480px) {
  .app-warm, .app-cold {
    min-width: auto;
  }

  nav input {
    font-size: 14px;
    top: 5px;
    left: 10%;
    min-width: 80%;
  }

  .info-container {
    font-size: 1.2rem;
  }

  .Desc {
    top: 5px;
  }

  .footer {
    bottom: 2px;
  }
}
